.right-section {
    height: fit-content; 
    /* align-items: flex-start; 
    text-align: start; */
}

.wrapper_overskrift {
    display: flex; 
    justify-content: space-between;
    background-color: black; 
    width: 100%; 
    padding: 30px 0px;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: black; 
}

.overskrift {
    color: white; 
    font-size: 4rem; 
    text-align: center;  
}

.logo_element {
    height: 80px; 
    width: 30px; 
    margin: auto 15px; 
}

.side_skift {
    display: flex;
    justify-content: space-around;
    width: 35%; 
    margin: 16px;
}

.under_overskrifter {
    font-size: 2rem;
    margin-top: 30px;
}

.faq {
    border-bottom: 2px solid black;
}

summary {  
    width: 400px; 
}

details {
    margin-bottom: 7px;
}

details > summary {
    background-color: #eee;
    cursor: pointer;
    padding: 20px 20px;
  }
  
  details > summary > * {
    display: inline;
  }
  
  details > div {
    border: 2px solid #eee;
    margin-top: 0;
    padding: 1rem;
  }


  @media only screen and (max-width: 930px) {

    summary {  
        width: 320px; 
    }
  }