/* Class tilpasset til underside  */
.right-section {
    height: fit-content;
    max-height: none;
    color: var(--text-clr)
}

/* Titel på siden: "FAQ" */
.underside-titel {
    text-decoration: underline var(--purple);
}

/* Styling af links generelt */
a {
    text-decoration: none;
    color: var(--text-clr);
}

/* Styling af links til undersider */
.side_skift {
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 16px;
    text-align: center;
}

/* Afstand mellem links til undersider */
.om_distortion,
.faq,
.kontakt {
    width: 13ch;
}

/* Container med alt indhold på siden */
.wrapper_faq {
    width: 100%;
    margin-bottom: 30px;
}

/* Overskrift til de forskellige kategorier */
.under_overskrifter {
    font-size: 2rem;
    margin: 0 16px;
    margin-top: 30px;
    margin-bottom: 20px;
}

/* Detail boxe med spørgsmål og svar */
details {
    margin: 0 16px;
    margin-bottom: 7px;
    color: var(--text-clr)
}

details>summary {
    background-color: #eee;
    cursor: pointer;
    padding: 20px 20px;
    color: black;
}

details>summary>* {
    display: inline;
}

details>div {
    border: 2px solid #eee;
    margin-top: 0;
    padding: 1rem;
}

/* Email reference  */
.mail {
    margin-bottom: 30px;
}


@media only screen and (max-width: 500px) {

    .under_overskrifter {
        font-size: 1.5rem;
    }
}