/* Farve variabler  */
:root{
    --green-clr: var(--green);
}

/* Opsætning af højre side tilpasset til siden  */
.right-section{
    max-height: none;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: 100vh;
    color: var(--text-clr);
}

/* Titel på siden: "Kort" */
.underside-titel{
    text-decoration: underline var(--green);
}

.kort-forklaring{
    margin-top: 25px;
    padding: 0 2rem;
}

/* Styling af kort generelt */
#kort-container{
    width: calc(100% - 50px); 
    max-width: 600px;
    box-sizing: border-box;
    margin: 50px auto;
    outline: 3px solid var(--text-clr);
    padding: 25px;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
#kort-alt{
    width: 100%;
    position: relative;
}
#kort-alt-text{
    position: absolute;
    top: 0;
    left: 0;
    color: var(--text-clr);
    font-size: 3rem;
}

/* outline på kort styling der følger siden farvetema */

#kort-outline{
    display: block;
    filter: invert(var(--invert));
    width: 100%; 
}

/* farvede områder styling */

.kort-area{
    opacity: 0.8;
    position: absolute;
    cursor: pointer;
    height: auto;
}

.kort-area:hover{
    opacity: 1;
}

/* styling af svg fr områder, absolut placering i container */

#kort-x{
    bottom: 7%;
    left: 18%;
    width: 45%;
    
}
#kort-x path{
    transform: translateY(10%);
}
.x-top-group, .aa-top-group, .oe-top-group{
    transition: 0.2s;
}
#kort-x:hover .x-top-group{
    transform: translateY(-8%);
}

#kort-aa{
    width: 25%;
    top: 31%;
    left: 32%;
}
#kort-aa path{
    transform: translateY(9%);
}
#kort-aa:hover .aa-top-group{
    transform: translateY(-8%);
}

#kort-oe{
    top: 7%;
    right: 5%;
    width: 25%;
}
#kort-oe path{
    transform: translateY(9%);
}
#kort-oe:hover .oe-top-group{
    transform: translateY(-8%);
}

/* styling for område ved zoom ind */

.area-map{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;
    top: 0;
    left: 0;
    opacity: 0;
}

.arrow-back{
    display: block;
    filter: invert(var(--invert));
    width: 25px;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 8;
}

/* kort nål styling */

.map-locations{
    position: absolute;
    width: 100%;
    height: 100%;
}

.pin-container{
    width: 7%;
    position: absolute;
    opacity: 0.9;
    transition: 0.2s;
}
.pin-container:hover{
    opacity: 1;
}

.location-name{
    font-size: 1.3rem;
    font-weight: 800;
    text-align: center;
    width: fit-content;
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    filter: drop-shadow(0 0 5px var(--bg-clr));
    white-space: nowrap;

}

.location-pin{
    width: 100%;
    animation: pinAnim 1.8s ease infinite;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    z-index: 2;
}

/* after element der giver den røde ring ved nål */

.pin-container::after{
    content: '';
    width: 40%;
    height: 10%;
    position: absolute;
    outline: 4px solid var(--red);
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%) scale(1.3);
    border-radius: 50%;
    z-index: 1;
    animation: pinShadowAnim 1.8s ease infinite;
}

.location-pin:hover{
    filter: drop-shadow(0 0 2px var(--red));
}

/* animationer til nål */

@keyframes pinAnim {
    from{ transform: translateY(0); }
    50%{ transform: translateY(-5%); }
}

@keyframes pinShadowAnim {
    from{ transform: translateX(-50%) scale(1.3); }
    50%{ transform: translateX(-50%) scale(1); }
}

/* popup modal styling */

#kort-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    display: none;
    justify-content: center;
    z-index: 5;
}
#modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}
#modal{
    width: 90%;
    max-width: 600px;
    height: fit-content;
    max-height: 550px;
    background-color: var(--bg-clr);
    transition: background-color 0.3s;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.371);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 100px;
    display: block;
}
#modal-top{
    background-color: var(--yellow);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.328);
}
#modal-img{
    height: 90%;
    width: 30%;
    margin: 0 1rem;
}
#modal-name-location{
    width: fit-content;
    margin-right: 1rem;
}
#modal-name{
    font-size: 4rem;
    color: white;
    text-transform: uppercase;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.06));
    -webkit-text-stroke: 2px white;
    text-align: right;
    white-space: nowrap;
}

#modal-location{
    margin-top: 0rem;
    font-size: 1.4rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.06));
    text-align: left;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}
#modal-date{
    text-transform: uppercase;
    color: var(--text-clr);
    margin-top: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
#modal-link{
    margin-top: 1rem;
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-clr);
    font-weight: 300;
}
#modal-info{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-clr);
    padding: 0 25px 25px 25px;
    margin-top: 25px;
    letter-spacing: 0.4px;
}
#modal-close{
    filter: invert(1);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

#modal .button{
    font-size: 1.2rem;
    outline-width: 3px;
    margin: 0 auto;
    position: relative;
    display: block;
    margin-bottom: 2rem;
}

footer{
    margin-bottom: 0;
}

@media screen and (max-width: 1120px) {
    #modal-name{
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 1000px) {
    #modal-name{
        font-size: 3.2rem;
    }
    #modal-img{
        margin: 0 1rem;
    }
    #modal-name-location{
        margin-right: 1rem;
    }
    #modal-top{
        height: 150px;
    }
}
@media screen and (max-width: 900px) {
    #modal-name{
        font-size: 2.9rem;
    }
    #modal-location{
        font-size: 1.2rem;
    }
    .location-name{
        font-size: 1rem;
        top: -1.5rem;
    }
    .pin-container::after{
        outline: 2px solid var(--red);
    }
}

@media screen and (max-width: 860px) {
    #modal-name{
        font-size: 2.5rem;
    }
    #modal-location{
        font-size: 1rem;
    }
    #kort-alt-text{
        font-size: 2.3rem;
    }
}
@media screen and (max-width: 750px) {
    #modal-name{
        font-size: 3.6rem;
    }
    #modal-location{
        font-size: 1.5rem;
    }
    #kort-popup{
        width: 100vw;
    }
    #kort-alt-text{
        font-size: 3rem;
    }
    .location-name{
        font-size: 1.3rem;
    }
    .pin-container::after{
        outline: 4px solid var(--red);
    }
}
@media screen and (max-width: 500px) {
    #modal-name{
        font-size: 3rem;
    }
    #modal-location{
        font-size: 1.2rem;
    }
    #kort-alt-text{
        font-size: 2.5rem;
    }
    .location-name{
        font-size: 0.9rem;
        top: -1.5rem;
    }
    .pin-container::after{
        outline: 2px solid var(--red);
    }
}
@media screen and (max-width: 440px) {
    #modal-name{
        font-size: 2.5rem;
    }
    #modal-location{
        font-size: 1.1rem;
    }
    #kort-alt-text{
        font-size: 2rem;
    }
}
