.right-section {
    height: fit-content; 
}

#wrapper {
    display: grid;
    padding-top: 10px; 
    Grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-left: 13vw;
    margin-right: 13vw;
    text-align: center;
    grid-gap: 1em;
  }
  
  .hero {
    width: 100%;
    display: block;
  }
  
  /* Køb nu hover  */
  .container {
    position: relative;
    cursor: pointer;
    transform: scale(1);
    overflow: hidden;
    width: 100%;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 3vw;
    padding: 16px 32px;
  }
  
  .container .toj_img{
    transform: scale(1);
    transition: all 0.3s;
  }
  
  .container:hover .toj_img {
    transform: scale(1.1);
    opacity: 0.5;
  }
  
  
  
  .box1 {
    position: relative;
    grid-column: span 4;
    text-align: center;
    overflow: hidden;
  }
  
  .span4 {
    text-align: center;
    font-size: 2vw;
    margin-top: 1em;
    margin-bottom: 1em;
    grid-column: span 4;
  }
  
  .overskrift {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    /* background: rgba(0, 0, 0, 0.4); */
    padding-top: 10px;
  }
  
  .underoverskrift {
    opacity: 0;
    font-size: 0px;
    animation: overskrift_2023 2.2s 1s forwards;
  }
  
  .underoverskrift_2 {
    position: relative;
    font-size: 15vw;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    animation: overskrift 1.5s forwards;
    z-index: 2;
  }
  .underoverskrift_3 {
    position: relative;
    font-size: 15vw;
    letter-spacing: 2px;
    padding: 0;
    margin: 0;
    opacity: 0;
    z-index: 2;
    animation: overskrift2 1.5s 0.8s forwards;
  }
  
  @keyframes overskrift {
    0% {
      opacity: 0;
      transform: translateX(-200%)
    }
  
    40% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px)
    }
  }
  
  @keyframes overskrift2 {
    0% {
      opacity: 0;
      transform: translateX(200%)
    }
  
    40% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 1;
      transform: translateX(0px)
    }
  }
  
  @keyframes overskrift_2023 {
    0% {
      opacity: 0;
      font-size: 0px;
    }
  
    50% {
      font-size: 0px;
    }
  
    100% {
      opacity: 1;
      font-size: 2vw;
    }
  }
  
  .toj_img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  
  .tx_under {
    font-size: 1.2vw;
  }