.right-section {
  height: fit-content;
  max-height: none;
  color: var(--text-clr)
}

.wrapper_overskrift {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  padding: 20px 0px;
  margin-top: 100px;
}

.logo_element {
  height: 80px;
  width: 30px;
  margin: auto 15px;
}

.overskrift_banner {
  color: white;
  font-size: 4rem;
  text-align: center;
}

.farve {
  width: 100%;
  background-color: var(--yellow);
  padding: 2px 0px;
}

#wrapper {
  display: grid;
  Grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 0px 16px 16px 16px;
  text-align: center;
  grid-gap: 1em;
}

.hero {
  width: 100%;
  display: block;
}


/* Køb nu hover  */
.container {
  position: relative;
  cursor: pointer;
  transform: scale(1);
  overflow: hidden;
  width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  width: 100%; 
} 

.container:hover .middle {
  opacity: 1;
} 

.text {
  color: white;
  font-size: 1.2rem;
  background-color: black;
  padding: 15px; 
  text-align: center;
}

.container:hover .toj_img {
  transform: scale(1.05);
  transition: all 0.4s;
}




.box1 {
  position: relative;
  grid-column: span 2;
  text-align: center;
  overflow: hidden;
}

.span4 {
  text-align: center;
  font-size: 2rem;
  margin-top: 1em;
  margin-bottom: 1em;
  grid-column: span 2;
  font-weight: bold;
}

.overskrift {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding-top: 10px;
}


.toj_img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.tx_under {
  font-size: 1.4rem;
}

@media only screen and (max-width: 1000px) {
  .overskrift { 
      font-size: 3rem;   
  }

  .logo_element {
      height: 60px; 
      width: 20px; 
  }
}

@media only screen and (max-width: 1150px) {

  .underoverskrift {
      margin: 20px;
  }  

}

@media only screen and (max-width: 500px) {
  .overskrift { 
      font-size: 2rem;   
  }

  .logo_element {
      height: 40px; 
      width: 15px; 
  }

  .wrapper_overskrift { 
      padding: 12px 0px;
  }

  .container {
    grid-column: span 2;
  }

  .tx_under {
    grid-row: 2; 
  }


}