/* Farve variabler  */
:root{
    --friday-clr: var(--yellow);
    --saturday-clr: var(--blue);
    --sunday-clr: var(--green);
}

/* Class tilpasset til underside  */
.right-section{
    max-height: none;
    height: 100%;
    padding-bottom: 50px;
    position: relative;
    min-height: 100vh;
}

/* Titel på siden: "Program" */
.underside-titel{
    text-decoration: underline var(--red);
}

/* Liste og grid styling  */
#pref-container{
    filter: invert(var(--invert));
    display: flex;
    justify-content: center;
    width: 50px;
    height: 25px;
    margin: 25px auto 0 auto;
}

#pref-container img{
    cursor: pointer;
    opacity: 0.6;
}

#pref-container img:hover{
    opacity: 0.8;
}

.current-pref{
    opacity: 1!important;
}

/* Loading skærm  */
#artist-loading{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-clr);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#artist-progress{
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 1rem;
}
#artist-progress[value]::-webkit-progress-bar{
    background-color: var(--bg-clr);
}
#artist-progress[value]::-webkit-progress-value{
    background-color: var(--red);
    transition: 0.1s;
}
#progress-label{
    font-size: 1.5rem;
    color: var(--text-clr);
    font-weight: 500;
    margin-top: 2rem;
}
#progress-error-msg{
    color: var(--text-clr);
    font-weight: 300;
    text-align: center;
    margin-top: 5px;
}

/* Program over de forskellige dage styling */
.program-dag{
    margin-top: 50px;
    font-size: 3.5rem;
    color: var(--text-clr);
}

.program-dag:first-of-type{
    margin-top: 25px;
}


.underline{
    width: calc(100% - 50px);
    border: none;
    border-top: 3px solid;
}

.fri-underline{
    border-color: var(--friday-clr);
}
.sat-underline{
    border-color: var(--saturday-clr);
}
.sun-underline{
    border-color: var(--sunday-clr);
}

/* overlay med tekst over hver artist */
.artist-overlay:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.25;
}

.friday .artist-overlay:before{
    background-color: var(--friday-clr);
}
.saturday .artist-overlay:before{
    background-color: var(--saturday-clr);
}
.sunday .artist-overlay:before{
    background-color: var(--sunday-clr);
}

/* Opsætning af artister med grid */
.artist-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: calc(100% - 50px);
}

.artist{
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
}
.artist-pic{
    width: 100%;
    height: auto;
    vertical-align: bottom;
    transition: 0.3s;
}
.artist-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    
}

.artist:hover > .artist-pic{
    transform: scale(1.1);
}

.artist-overlay:hover > .artist-name{
    color: rgb(255, 255, 255);
}

.artist-overlay:hover > .artist-time{
    color: rgb(255, 255, 255);
}
.artist-overlay:hover > .artist-country{
    color: rgb(255, 255, 255);
}

.artist-name{
    color: transparent;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 800;
    -webkit-text-stroke: 1px white;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    text-align: center;
    line-height: 3.5rem;
    user-select: none;
}

.artist-time{
    position: absolute;
    top: 1px;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px white;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    font-size: 1.4rem;
    width: 100%;
    text-align: center;
    font-weight: 700;
}
.artist-country{
    position: absolute;
    bottom: 1px;
    font-size: 1.4rem;
    color: transparent;
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px white;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}

/* Opsætning af artister med list */
.list-friday{
    --day-clr: var(--friday-clr);
}
.list-saturday{
    --day-clr: var(--saturday-clr);
}
.list-sunday{
    --day-clr: var(--sunday-clr);
}

.artist-list{
    width: calc(100% - 50px);
    list-style-type: none;
    display: none;
}
.list-item{
    color: var(--text-clr);
    font-size: 1.55rem;
    border-bottom: 1px solid var(--day-clr);
    text-transform: uppercase;
    padding: 3px 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-left: 0 solid var(--day-clr);
    transition: 0.3s;
}
.list-item:hover{
    border-left: 1rem solid var(--day-clr);
}

.list-name{
    font-weight: 700;
}
.list-time{
    font-size: 1.2rem;
}
.list-country{
    font-size: 1rem;
    margin-right: auto;
    margin-left: 5px;
}

/* Popup vindue styling  */
#artist-popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    display: none;
    justify-content: center;
}
#modal-bg{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}
#modal{
    width: 90%;
    max-width: 600px;
    height: 90%;
    max-height: 550px;
    background-color: var(--bg-clr);
    transition: background-color 0.3s;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.371);
    overflow-y: scroll;
    margin-top: 100px;
    display: block;
}
#modal-img{
    background-image: url("");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position-y: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#modal-name{
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
    -webkit-text-stroke: 2px white;
    text-align: center;
}

#modal-location{
    margin-top: 1rem;
}
#modal-date, #modal-location{
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--text-clr);
    font-weight: 800;
    text-align: center;
}
#modal-embed{
    width: 100%;
    height: 80px;
    border: none;
}
#modal-info{
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-clr);
    padding: 0 25px;
    margin-top: 25px;
    height: 100px;
    overflow: hidden;
    transition: height 0.3s;
    letter-spacing: 0.4px;
}
#modal-close{
    filter: invert(1);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
#readmore{
    width: calc(100% - 50px);
    font-weight: 600;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 25px;
    text-align: center;
    color: var(--text-clr);
    background-color: var(--bg-clr);
    box-shadow: 0 -20px 30px 10px var(--bg-clr);
    z-index: 2;
    position: relative;
    transition: 0.3s;
}
#readmore p{
    cursor: pointer;
    opacity: 0.5;
}
#readmore p:hover{
    opacity: 1;
}

footer{
    margin-bottom: 0;
}

@media screen and (max-width: 1290px) {
    .artist-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 870px) {
    .artist-name{
        font-size: 3rem;
        line-height: 2.8rem;
    }
}

@media screen and (max-width: 750px) {
    .artist-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .artist-name{
        font-size: 3.2rem;
        line-height: 3.5rem;
    }
    #artist-popup{
        width: 100vw;
        height: 100vh;
    }
}

@media screen and (max-width: 630px) {
    .artist-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .program-dag{
        margin-top: 25px;
        font-size: 2.9rem;
    }
    .artist-time{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 440px) {
    .artist-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    .artist-name{
        font-size: 3rem;
        line-height: 2.8rem;
    }
    h1{
        font-size: 5rem;
    }
    .list-time{
        font-size: 1rem;
    }
    .list-name{
        font-size: 1.5rem;
    }
    
}