@import url("https://use.typekit.net/njj5nkb.css");

:root{
    --bebas: bebas-neue-pro, sans-serif;
    --bebas-semi: bebas-neue-pro-semiexpanded, sans-serif;
    --bebas-exp: bebas-neue-pro-expanded, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body{
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: var(--bebas-semi);
    letter-spacing: .125rem;
    min-height: 200vh;
    font-size: 16px;
}

#hero{
    width: 100%;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#hero > * {
    z-index: 2;
}
#hero:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(255,0,0);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(251,255,0,1) 34%, rgba(0,255,14,1) 68%, rgba(0,50,255,1) 100%);
    z-index: 1;
    opacity: 0.3;
}

#logo{
    width: 70%;
    max-width: 400px;
    margin: 2vh 20px;
}

.hero-tekst{
    box-sizing: border-box;
    width: 100vw;
    max-width: 600px;
    margin: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;

    /* box-shadow: 0 0 0 8px white,
    0 0 0 10px black,
    0 0 0 12px white; */
}

#countdown {
    
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
  }

  .countdown-nums {
    font-size: 3rem;
    font-weight: bold;
  }

.timer{
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 20px;
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 1px solid white;
}

.timer h2{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

#burger{
    width: 50px;
    position: fixed;
    z-index: 99;
    top: 30px;
    left: 30px;
    cursor: pointer;
    transition: 0.3s;
}
#burger:hover{
    transform: scale(1.05);
}

#navmenu{
    position: fixed;
    width: 300px;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 98;
}

#navmenu ul{
    list-style-type: none;
    display: block;
}
#navmenu a{
    display: flex;
    text-decoration: none;
    height: 50px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

#navmenu a:hover{
    background-color: white;
    color: black;
}