@import url("https://use.typekit.net/njj5nkb.css");

:root{
    --bebas: bebas-neue-pro, sans-serif;
    --bebas-semi: bebas-neue-pro-semiexpanded, sans-serif;
    --bebas-exp: bebas-neue-pro-expanded, sans-serif;

    --bg-clr: white;
    --menu-clr: black;
    --text-clr: black;
}

* {
    padding: 0;
    margin: 0;
}

body{
    max-width: 100vw;
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--bebas-semi);
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--menu-clr);
}


main{
    height: 100%;
    /*overflow: scroll;
    scroll-snap-type: y mandatory; */
    --opacity: 0.4;
    background: linear-gradient(180deg, rgba(255,0,0,var(--opacity)) 0%, rgba(251,255,0,var(--opacity)) 34%, rgba(0,255,14,var(--opacity)) 68%, rgba(0,50,255,var(--opacity)) 100%);
}

#video{
    width: 100%;
    background-image: url("../images/hero.jpeg");
    background-size: cover;
    height: 100vh;
    position: fixed;
    z-index: -2;
}

#video video{
    min-width: 60vw;
    min-height: 100%;
}

section{
    display: flex;
    scroll-snap-align: center;
    position: relative;
    align-items: center;
}

.right-section{
    height: 100vh;
    width: 50vw;
    background-color: var(--bg-clr);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section{
    border-radius: 5px 0 0 0;
}
.last-section{
    border-radius: 0 0 0 5px;
}

.left-section{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.section-title{
    text-align: center;
    height: fit-content;
    font-size: 11vw;
    font-family: var(--bebas-exp);
    font-weight: 800;
    color: white;
    -webkit-text-stroke: 3px white;
}

.section-title-outline{
    position: absolute;
    text-align: center;
    top: 10%;
    font-size: 11vw;
    font-family: var(--bebas-exp);
    font-weight: 800;
    color: transparent;
    -webkit-text-stroke: 5px rgba(255, 255, 255, 0.25);
    z-index: -1;
    filter: blur(2px);
    transform: scale(1.06) skewY(1deg);
    animation: side 20s infinite;
}

@keyframes side {
    from{transform: scale(1.06) skewY(1deg);}
    50%{transform: scale(1.06) skewY(-1deg);}
}

#logo{
    width: 300px;
    max-width: 400px;
    margin: 2vh 20px;
}

.hero-tekst{
    box-sizing: border-box;
    width: 100vw;
    max-width: 600px;
    margin: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
}

/* Countdown timer */

#countdown {
    
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    width: 90%;
    max-width: 400px;
}
.countdown-text{
    font-size: 2.6rem;
    font-weight: bold;
    color: transparent;
    margin-right: auto;
    margin-top: 0.35rem;
    -webkit-text-stroke: 1px var(--text-clr);
}

.countdown-nums {
    font-size: 4rem;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    width: 1ch;
    margin-left: auto;
}

.tens{
    margin-right: -20%;
}

#countdown-days{
    width: fit-content;
}


.timer{
    box-sizing: border-box;
    width: 100%;
    max-width: 600px;
    margin: 0 20px;
    color: var(--text-clr);
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
}

.timer h2{
    padding: 0;
    margin: 0;
    font-weight: normal;
}

.top-tekst{
    width: 90%;
    max-width: 400px;
}



/* Artist karrussel */

#artist-karrussel{
    height: 60%;
    width: 100%;
    margin-bottom: 0%;
}

.karrussel{
    width: 100%;
    height: 50%;
    background-size: cover;
    background-repeat: repeat-x;
    background-image: url("../images/artistkarrussel.webp");
}

/* Knap styling */

.button{
    width: 13ch;
    display: block;
    padding: 0.5rem 1rem;
    outline: 5px solid black;
    font-size: 1.7rem;
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}

.button:hover{
    background-color: black;
    color: white;
}


#ticketanim, #kortanim{
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1;
    
}


/* footer styling */

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 90%;
    margin-top: auto;
    margin-bottom: 3rem;
}

.socials{
    width: 90%;
    max-width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 5em 0 0em 0;
}

address{
    font-style: normal;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: 2em;
}

address h4{
    font-size: 2rem;
    font-weight: 300;
}


@media screen and (max-width: 750px) {
    #video{
        display: none;
    }
    .left-section{
        display: none;
    }
    .right-section{
        width: 100vw;
    }
    #navmenu{
        width: 100vw;
    }
}