@import url("https://use.typekit.net/cnx5ftk.css");

:root {
    --lightgrey: #343434;;
    --blue: #ffffff;
    --greyblue: #18171a;
    --darkblue: #1a4860;
    --grey: #727272;
    --hoverblue: #399fb6;
}

html{
    font-family: bebas-neue-pro-expanded, sans-serif

}

body{
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #18171a;
}

h1{
    text-align: center;
    color: white;
}

#calender{
    width: 90vw;
    max-width: 570px;
    background-color: var(--lightgrey);
    margin: 50px auto;
    position: relative;
}
.calender-header{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.month-year{
    width: 200px;
    text-align: center;
    color: white;
}
.month-arrow{
    margin: 0 20px;
    width: 35px;
    height: 35px;
    aspect-ratio: 1;
    color: white;
    cursor: pointer;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.month-arrow img{
    height: 100%;
    filter: invert(1);
}

#month-next{
    transform: rotateZ(180deg);
}

#month-next:hover{
    transform: rotateZ(180deg) scale(1.1);
    transform-origin: center;
}

.month-arrow:hover{
    transform: scale(1.1);
    transform-origin: center;
}

.calender-grid{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    background-color: #18171a;;
    row-gap: 0.4rem;
    column-gap: 0.4rem;
    padding: 0.4rem 0;
}
.date{
    background-color: var(--lightgrey);
    width: 100%;
    max-width: 75px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    transition: 0.1s;
    font-weight: 200;
    overflow: hidden;
    position: relative;
    color: rgb(213, 213, 213);
}
.date:hover{
    background-color: rgb(109, 109, 109);
    transform: scale(1.05);
    transform-origin: center;
}

.current{
    outline: 2px solid rgb(121, 121, 121) ;
    outline-offset: -1px;
}

.next-month{
    background-color: var(--lightgrey) !important;
    opacity: 0.5 !important;
}
.next-month:hover{
    background-color: var(--lightgrey);
    transform: scale(1);
    transform-origin: center;
}

.has-event{
    position: relative;
}
.has-event::after{
    content: '';
    background-color: var(--blue);
    width: 22%;
    aspect-ratio: 1;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 50%;
}

#description{
    display: none;
    width: 90vw;
    max-width: 570px;
    max-height: 120%;
    overflow-y: auto;
    position: absolute;
    background-color: var(--lightgrey);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    z-index: 9;
}

#description h2{
    text-align: center;
    color: white;
}

#desc-background{
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
}

.desc-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgba(128, 128, 128, 0.216);
    padding-bottom: 20px;
}
.desc-column-right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 55%;
}
.desc-column-left{
    width: 40%;
    color: white;
    font-weight: 300;
}

.desc-item{
    margin-bottom: 16px;
}

.desc-item:first-child{
    padding-top: 30px;
}

.content{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.15);
}
.desc-container:last-child{
    border: none;
}

.desc-content{
    padding-top: 10px;
    margin-bottom: 20px;
}

#desc-close{
    font-weight: bold;
    color: white;
    background-color: var(--greyblue);
    padding: 0 5px;
    width: fit-content;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 20px;
}
#desc-close:hover{
    background-color: var(--blue);
    transition: 0.1s;
    color: var(--greyblue);
}

.dayname{
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 0.65rem;
}

#back{
    color: white;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 30px;
    left: 20px;
    background-color: var(--greyblue);
    padding: 5px 10px;
    outline: 2px solid white;
}

#back:hover{
    background-color: white;
    color: var(--greyblue);
}
